h2{ 
    color:rgb(2, 71, 2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px; 
    }

h3{ 
    color:rgb(7, 146, 37);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    }

h4{ 
    color:rgb(137, 228, 137);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    }

h5{ 
    color:rgb(179, 236, 198);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    }

p { 
    color : black; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20 px;
    }

ul{
    list-style-type: none;
    margin: 0; padding:0;
    overflow: hidden;
    background-color: #333;
    }

li{
    float: left;
    }

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14% 16%;
    text-decoration: none;
    }

li a:hover{
    background-color: rgb(211, 74, 74);
    color: black;
    }

.jornal {
    -webkit-column-count: 4; 
    -moz-column-count: 4; 
    column-count: 4;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; 

    -webkit-column-rule: 2px solid rgb(211, 74,74);
    -moz-column-rule: 2px solid rgb(211, 74,74);
    column-rule: 2px solid rgb(211, 74,74);
}
